<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--small">
    <h1 class="slds-text-heading--large">
      Welcome to the Hacked Design System Starter Kit
    </h1>
    <p class="slds-text-body--regular slds-m-vertical--large">A rapid prototyping environment using the <a href="https://www.lightningdesignsystem.com">Lightning Design System</a>, brought to you by <a href="https://twitter.com/SalesforceUX">Salesforce UX</a>.</p>

    <img src="/assets/img-efficiency.svg" alt="" />

    <h2 class="slds-text-heading--medium slds-m-top--large">Get Started</h2>
    <p class="slds-text-body--regular slds-m-top--large">Edit files in the <a href="https://github.com/salesforce-ux/design-system-starter-kit/tree/master/src"><code>src</code> directory</a> to start building your prototype.</p>

    <p class="slds-text-body--regular slds-m-top--large">
      Start by looking at the file <code>src/views/index.html</code> file, which contains the html that defines this page you are reading right now.
    </p>
    <p class="slds-text-body--regular slds-m-top--large">Lightning Design System component documentation and markup available at: <a href="https://www.lightningdesignsystem.com">https://www.lightningdesignsystem.com</a>.</p>

    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">
      Example Styles to try
    </h2>

    <p class="slds-text-body--regular slds-m-top--large">
      Here are some example stlyes to apply to the page
    </p>

    <h2 class="slds-text-heading--small slds-m-top--medium">
      Titles / Headings
    </h2>

    <p class="slds-text-body--regular slds-m-top--medium">
      Use the class <code>slds-text-heading--small</code> to define a small heading, or <code>slds-text-heading--medium</code> for a medium heading or <code>slds-text-heading--large</code> for a large heading.
    </p>

    <p class="lds-text-body--regular slds-m-top--medium">
      To affect the spacing (margin) around a title, also add the <code>slds-m-top--medium</code> to define a medium margin around the heading, changing medium for small or large for diferent sizes.
    <p>
    <p class="lds-text-body--regular slds-m-top--medium">
      In the **Components - Utilities** section there are a range of different <a href="https://www.lightningdesignsystem.com/components/utilities/spacing/" >spacing styles</a> available
    </p>

    <h2 class="slds-text-heading--small slds-m-top--medium">
      Paragraphs
    </h2>

    <p class="slds-text-body--regular slds-m-top--medium">
      Use the class <code>slds-text-body--regular</code> to define a regular sized (13px) paragraph of text, or <code>slds-text-body--small</code> for a small font for the paragraph, a more pale-colored 12px font.
    </p>


    <p class="lds-text-body--regular slds-m-top--medium">
      To affect the spacing (margin) around a paragraph, also add the <code>slds-m-top--medium</code> to define a medium margin around the heading, changing medium for small or large for diferent sizes.
    </p>

    <hr />

    <h1>TODO</h1>
    <ul>
      <li>Add style to code to make it stand out more (or highlight this as something missing)</li>
      <li>UL or LI styles</li>
      <li>Default font size - guildeone / practic</li>
    </ul>

<hr />

    <p class="slds-text-body--regular slds-m-top--large">
       <a href="https://github.com/salesforce-ux/design-system-starter-kit/tree/master/src"><code>src</code> directory</a> to start building your prototype.</p>
    <p class="slds-text-body--regular slds-m-top--large">
      Start by looking at the file <code>src/views/index.html</code> file, which contains the html that defines this page you are reading right now.
    </p>
    <p class="slds-text-body--regular slds-m-top--large">Lightning Design System component documentation and markup available at: <a href="https://www.lightningdesignsystem.com">https://www.lightningdesignsystem.com</a>.</p>



    <hr />
    <h2 class="slds-text-heading--medium slds-m-top--large">Example Prototype</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">We’ve put together a prototype to show you what the starter kit is capable of, have a look!</p>
    <p><a href="/example.html" class="slds-button slds-button--brand">Example Prototype</a></p>
    <hr />
    <h2 class="slds-text-heading--medium slds-m-top--large">Dreamforce Workshop Tutorial</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Learn how to design in the browser with the Dreamforce 2016 tutorial, “Rapid prototyping with the Design System Starter Kit and UI Kit”.</p>
    <p>
      <a href="http://sfdcworkshop.com/workshop/rapid-prototyping-with-slds/" class="slds-button slds-button--brand">Dreamforce Tutorial</a>
      <a href="/workshop.html" class="slds-button slds-button--neutral">DIY Boilerplate</a>
      <a href="/workshop-done.html" class="slds-button slds-button--neutral">Result</a>
    </p>
    <hr />
    <h2 class="slds-text-heading--medium slds-m-top--large">Feedback and Questions</h2>
    <p class="slds-text-body
TX

(512) 757-6000

Customer - Direct
Express Logistics and Transport

OR

(503) 421-7800

Customer - Channel
GenePoint

CA

(650) 867-3450

Customer - Channel
Grand Hotels & Resorts Ltd

IL

(312) 596-1000

Customer - Direct
Pyramid Construction Inc.


(014) 427-4427

Customer - Channel
sForce

CA

(415) 901-7000

United O--regular slds-m-top--large slds-m-bottom--small">Ask questions about prototyping using the design system, report issues about the starter kit… <a href="https://github.com/salesforce-ux/design-system-starter-kit/">on the GitHub repository</a>.</p>
    <hr />
    <h2 class="slds-text-heading--medium slds-m-top--large">See Also</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">More comfortable designing in <a href="https://www.sketchapp.com/">Sketch</a>? Try the <a href="https://github.com/salesforce-ux/design-system-ui-kit/">Design System UI Kit</a>.</p>

  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
